@use './variables';
@use './mixins' as *;

:root {
  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include mobile {
    font-size: 16px;
  }
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  min-height: 100svh;
  margin: 0 auto;
  box-sizing: border-box;
  border-inline: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1,
h2 {
  margin: 0 0 8px;
  color: var(--text-h);
  font-family: var(--heading);
  font-weight: 500;
}

h1 {
  margin: 32px 0;
  font-size: 56px;

  @include mobile {
    margin: 20px 0;
    font-size: 36px;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;

  @include mobile {
    font-size: 20px;
  }
}

p {
  margin: 0;
}

code {
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--text-h);
  background: var(--code-bg);
  font-family: var(--mono);
  font-size: 15px;
  line-height: 135%;
}