@use './variables';
@use './mixins' as *;

:root {
  font: 14px/145% var(--sans);
  letter-spacing: 0;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include mobile {
    font-size: 16px;
  }
}

body {
  min-width: 320px;
  min-height: 100svh;
  margin: 0;
}

#root {
  width: 100%;
  min-height: 100svh;
  margin: 0;
}

h1,
h2 {
  color: var(--text-h);
  font-family: var(--heading);
  font-weight: 500;
}

p {
  margin: 0;
}

code {
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--text-h);
  background: var(--code-bg);
  font-family: var(--mono);
  font-size: 15px;
  line-height: 135%;
}